.github/CODEOWNERS @iclanton @octogonz @apostolisms @D4N14L @dmichon-msft @patmill
common/config/**/* @iclanton @octogonz @apostolisms @D4N14L @dmichon-msft @patmill

**/* @iclanton @octogonz @apostolisms @D4N14L @dmichon-msft @patmill
