.doc-section {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
}

.doc-heading {
  color: #2f5496;
  font-size: 24px;
  font-weight: 400;

  margin-block-start: 1.2em;
  margin-block-end: 0.4em;
}

.doc-table {
  margin: 0;
  font-size: 16px;
  border: none;
  border-collapse: collapse;
}

.doc-table th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 2px solid #e0e0e0;
}

.doc-fenced-code {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 3px;
  overflow: auto;
}

.doc-code-span {
  background-color: #f0f0f0;
  color: #000;
  border-radius: 2pt;
  border: 1px solid #ccc;
  padding: 1pt;
}
