html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

#root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.doc-section {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
}

.doc-heading {
  color: #2f5496;
  font-size: 24px;
  font-weight: 400;

  margin-block-start: 1.2em;
  margin-block-end: 0.4em;
}

.doc-table {
  margin: 0;
  font-size: 16px;
  border: none;
  border-collapse: collapse;
}

.doc-table th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 2px solid #e0e0e0;
}

.doc-fenced-code {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 3px;
  overflow: auto;
}

.doc-code-span {
  background-color: #f0f0f0;
  color: #000;
  border-radius: 2pt;
  border: 1px solid #ccc;
  padding: 1pt;
}
