resources:
  repositories:
    - repository: RushstackMainRepo
      type: github
      name: Microsoft/rushstack
      endpoint: 'GitHub (Rushbot)'
    - repository: 1esPipelines
      type: git
      name: 1ESPipelineTemplates/1ESPipelineTemplates
      ref: refs/tags/release

extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1esPipelines
  parameters:
    pool:
      name: Azure-Pipelines-1ESPT-ExDShared
      os: windows
    sdl:
      sourceRepositoriesToScan:
        include:
          - repository: RushstackMainRepo
    stages:
      - stage:
        jobs:
          - job:
            pool:
              name: publish-rushstack
              os: linux
            templateContext:
              outputs:
                - output: pipelineArtifact
                  targetPath: $(Build.ArtifactStagingDirectory)/published-versions
                  artifactName: published-versions
                - output: pipelineArtifact
                  targetPath: $(Build.ArtifactStagingDirectory)/json-schemas
                  artifactName: json-schemas
            steps:
              - checkout: self
                persistCredentials: true
                path: tsdoc

              - template: /common/config/azure-pipelines/templates/install-node.yaml@self

              - template: /common/config/azure-pipelines/templates/build.yaml@self

              - template: /common/config/azure-pipelines/templates/publish.yaml@self

              - template: /common/config/azure-pipelines/templates/post-publish.yaml@self
