<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />

    <title>TSDoc Playground</title>

    <!-- Custom fonts for this template -->
    <link
      href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
      rel='stylesheet'
      type='text/css'
    />
    <link
      href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css'
      rel='stylesheet'
    />
    <link
      href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic'
      rel='stylesheet'
      type='text/css'
    />
  </head>

  <body>
    <div id='root'>
      {{#each scriptsToInclude}}
        <script type='text/javascript' src='{{url}}'></script>
      {{/each}}
    </div>
  </body>
</html>